<div [style.background-image]="'url(' + path + '' + name + ')'">
  <span>
    <button
      mat-icon-button
      [style.color]="liked ? 'red' : 'white'"
      (click)="like()"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button (click)="delete()" mat-icon-button [style.color]="'white'">
      <mat-icon>delete</mat-icon>
    </button>
    <button (click)="openInfos()" mat-icon-button [style.color]="'white'">
      <mat-icon>info</mat-icon>
    </button>
  </span>
</div>

<!-- <mat-form-field>
  <mat-label>Toppings</mat-label>
  <mat-select [formControl]="toppings" multiple>
    <mat-select-trigger>
      {{toppings.value?.[0] || ''}}
      @if ((toppings.value?.length || 0) > 1) {
      <span class="example-additional-selection">
        (+{{ (toppings.value?.length || 0) - 1 }}
        {{ toppings.value?.length === 2 ? "other" : "others" }})
      </span>
      }
    </mat-select-trigger>
    @for (topping of toppingList; track topping) {
    <mat-option [value]="topping">{{ topping }}</mat-option>
    }
  </mat-select>
</mat-form-field> -->
