<mat-form-field [style.right]="apparition ? '5vw' : '-600vw'">
  <mat-label>Album</mat-label>
  <mat-select
    matNativeControl
    multiple
    [(ngModel)]="albums"
    (ngModelChange)="changementAlbum()"
  >
    @for (album of allAlbums; track album) {
    <mat-option [value]="album">{{ album }}</mat-option>
    }
  </mat-select>
</mat-form-field>

<button
  mat-icon-button
  aria-label="Example icon button with a vertical three dot icon"
  (click)="apparitionAlbum()"
  id="apparition"
>
  <mat-icon>more_vert</mat-icon>
</button>

<div [style.background-image]="'url(' + path + '' + name + ')'">
  <span>
    <button
      mat-icon-button
      [style.color]="liked ? 'red' : 'white'"
      (click)="like()"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button (click)="delete()" mat-icon-button [style.color]="'white'">
      <mat-icon>delete</mat-icon>
    </button>
    <button (click)="openInfos()" mat-icon-button [style.color]="'white'">
      <mat-icon>info</mat-icon>
    </button>
  </span>
</div>
