div {
  border-radius: 5px;
  width: 19.6vw;
  height: 20vh;
  margin: 0.2vw;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
  position: relative;
}

button {
  position: absolute;
  right: 0;
  bottom: 0;
}
