<div>
  <article [routerLink]="['/album/all']">
    <img src="../../assets/picture.png" alt="img album photo" />
    <p>Toutes mes photos</p>
  </article>
  <article [routerLink]="['/album/favorites']">
    <img src="../../assets/picture.png" alt="img album photo" />
    <p>Mes Favories</p>
  </article>
  <article [routerLink]="['/album/favorites']">
    <img src="../../assets/picture.png" alt="img album photo" />
    <p>Mes Favories</p>
  </article>
  <article [routerLink]="['/album/favorites']">
    <img src="../../assets/picture.png" alt="img album photo" />
    <p>Mes Favories</p>
  </article>
</div>
